.menu {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-right: 50px;
	height: 100vh;
}

.page {
	display: flex;
	flex-direction: row;
}

.form {
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	border: solid;
	border-radius: 10px;
	padding: 20px;
}

.form-control {
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-input {
	float:right;
	margin-left: 20px;
	width: 50%;
}

.nice-hr {
	margin-top: 1em;
	line-height: 1.5px;
	border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	text-align: left;
	font-weight: bold;
	color: black;
}
.nice-hr:before {
	content: "";
	position: absolute;
}
.nice-hr:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	padding: 0 .5em;
	background-color: white;
}

.btn {
	border: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: black;
	color: black;
	background-color: white;
}
.btn:hover {
	background-color: lightblue;
}

div > label > a {
	margin: .5em;
	text-decoration: none;
}
div > label > a:link {
	color: blue;
}
div > label > a:visited {
	color: darkblue;
}
div > label > a:hover {
	color: orange;
}

.table-entry {
	text-decoration: none;
	color: black;
}

.table {
	background-color: black;
	border-radius: 10px;
	padding: 2px;
}
td, th {
	background-color: white;
	padding: 5px;
}

.text-center {
	text-align: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-col {
	display: flex;
	flex-direction: column;
}

